#video-back  {
    min-width: 100%;
    max-height: 100%;
    overflow: hidden;
    z-index:-100;
}

.text {
    color:white;
    font-size:50px;
    text-align:center;
    font-family: 'Russo One', sans-serif;
}

.main {
    position:absolute;
    top:0px;
    left:0px;
    border:solid;
    min-height:100%;
    background-color:rgba(0,0,0,.5);
}

.principal-text {
    margin-top:15%;
}

body {
    overflow-x:hidden;
}

.principal-button a {
    border:solid 1px white;
    padding:15px;
    text-align:center;
    color:white;
    border-radius:3px;
}

.principal-button a:hover {
    text-decoration:none;
}

.principal-button {
    text-align:center;
    margin-top:2em;
}

/* Preguntas Frecuentes */
.main2.faq {
    background-image:url('../img/back-faq.jpg');
    min-width:100%;
    min-height:100vh !important;
    background-position: center center;
    background-size: cover;
}

.rowfaq {
    padding-top:10%;
}

.faqinput {
    margin-top:20px;
}

text-faq h2 {
    font-family: 'Russo One', sans-serif;
}

/*Planetas*/
.planets-page section .card {
    padding:20px 5px;
}

.planets-page {
    margin-top:180px;
}

/* Menu */
#mainNav {
    background:rgba(0,0,0,.6);
}